/* AlertMessage.css */
.alert-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 400px;
    background-color:greenyellow;
    color: white;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
  }
  
  .alert-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .alert-text {
    flex: 1;
    margin-right: 10px;
  }
  
  .alert-close {
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .alert-close:hover {
    color: #e50914; /* Netflix red on hover */
  }
  